<div class="page-foot wow lightSpeedIn" id="subscribe">
  <footer class="page-footer font-small unique-color-dark pt-4">
    <div class="container">
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Subscribe to our newsletter</h5>
        </li>
        <li class="list-inline-item" id="footer-button">
          <a href="#registerModal" data-toggle="modal" class="btn btn-outline-white">Subscribe!</a>
        </li>
      </ul>
      <div class="footer-copyright text-center">
        <p>
          &copy; 2020 Copyright:
          <a href="#brandName">The Online Museum</a>
        </p>
<!--        <ul>-->
<!--          <li class="text" *ngFor="let item of items | async">-->
<!--            {{item.name}}-->
<!--          </li>-->
<!--        </ul>-->
      </div>
    </div>
  </footer>
</div>
