<div class="container">
  <hr class="style-one wow fadeInLeft" id="western">
  <h2 class="text-center wow fadeIn">WESTERN ART</h2>
  <hr class="style-one wow fadeInRight">
  <h3 class="text-center wow zoomInDown">Renaissance</h3>
  <p class="text-center">Renașterea a fost o mișcare culturală care s-a întins pe perioada secolelor XIV-XVI.
    dsjfsdlkjfsldkjfkjsdhkfdhfhgsihd
    <a href="https://www.history.com/topics/renaissance/renaissance">Citește mai mult.</a> Unele din cele mai frumoase lucrări artistice
     au fost create in perioada renașterei și includ:
   </p>
</div>

