<div class="container">
  <div class="border">

    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-user"></i>New Exponat
    </button>

  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>IDExp</th>
      <th>Title</th>

      <th>Description</th>
      <th>Image</th>

      <th>IdGal</th>
      <th>Price</th>


      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exe of list">
      <td><span>{{exe.idexp}}</span></td>
      <td><span>{{exe.title}}</span></td>

      <td style="width: 200px;"><span>{{exe.description}}</span></td>

      <td><span><img src="{{exe.image}}" alt=""></span></td>

      <td><span>{{exe.idgal}}</span></td>
      <td><span>{{exe.price}}</span></td>
      <td>
        <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, exe)">
          <i class="fa fa-search"></i>Details
        </button>
        <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, exe)">
          <i class="fa fa-edit"></i>Edit
        </button>
        <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, exe)">
          <i class="fa fa-remove"></i>Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
