
h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.price {
  margin-bottom: 10px;
}

.wrapper {
  margin: 0 auto;
  width: 860px;
}

.columns {
  margin: 0 auto;
  max-width: 900px;
}

.details {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}

.thumbnail-container {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}

.price {
  font-size: 20px;
  color: #777474;
}

.wishlist-container {
  padding-left: 0;
}

#header {
  width: 100%;
  text-align: center;
  background: white;
  padding: 5px;
  /*box-shadow: 0 10px 17px 0px #c0c0c0;*/
  box-shadow: 0 5px 10px 0px #dbd7d7;
}
#header img {
  max-width: 30px;
}

.columns {
  margin-top: 30px;
}

.button {
  width: 100%;
  border-radius: 0;
}

.select, select {
  width: 100%;
  border-radius: 0 !important;
}

#wishlist-container {
  padding-left: 0;
}

#buy-container {
  padding-right: 0;
}

.small-text {
  font-size: 14px;
}

.small-text span {
  font-weight: bold;
}

.buy-button {
  background: #ff6900;
  color: white;
  border: none;
}

.buy-button:hover, .buy-button:active, .buy-button:focus {
  color: white;
  opacity: 0.9;
}

a {
  color: #ff6900;
}
a:hover {
  color: #ff6900;
  opacity: 0.8;
}

@media only screen and (max-width: 769px) {

  #wishlist-container, #buy-container {
    padding: 0 0 15px 0;
  }
}


$bgb: #349a98;
$bgt: #42c8cb;

 #details{
  display: flex;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, $bgt 0%, $bgb 100%);
  box-shadow: 0 10px 30px 0 rgba($bgt, 0.7);
  transition: 200ms;
  &:hover{
    background: linear-gradient(to bottom, $bgb 0%, $bgt 100%);
  }
  >img{
    width: 31px;
  }
  >span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 10px;
    color: white;
  }
}

.cart{
  display: flex;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, $bgt 0%, $bgb 100%);
  box-shadow: 0 10px 30px 0 rgba($bgt, 0.7);
  transition: 200ms;
  &:hover{
    background: linear-gradient(to bottom, $bgb 0%, $bgt 100%);
  }
  >img{
    width: 31px;
  }
  >span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 10px;
    color: white;
  }
}
input
{
  border: none;
}
