<section class="wow pulse" id="timeline">

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(images/renaissance/sculptures/david/david.jpg)"></div>

    <div class="tl-year">
      <a href="/renmuseum">
        <p class="f2 heading--sanSerif">Renaissance</p>
      </a>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">ca. 1400-1600</h1>
      <p>Renaissance was a cultural movement that spanned roughly from the 14th century to the 17th century. This was
        one of the richest period in European art. The Renaissance promoted the rediscovery of classical philosophy,
        literature and art. Some of the greatest thinkers, authors, statesmen, scientists and artists in history of
        mankind thrived during this era. </p>
    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg"
      style="background-image: url(images/baroque/paintings/judith-beheading-holofernes/judith-beheading-holofernes.jpg)">
    </div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Baroque</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">ca. 1600-1800</h1>
      <p>Baroque art emerged in Rome, in the 17th century and spread to other European countries where it merged with
        local traditions and cultures.
        Baroque means irregularly-shaped pearl & it carried connotations of “bizarre” and “absurd” when used by its
        critics who dismissed it as a decadent successor to the revered Renaissance movement.</p>
    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(images/contemporary-kenyan-art/macicio/macicio.jpg)"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Contemporary</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">Modern Art</h1>
      <p>Over the last few years has cashed in on the “art boom” that a has been experiencing.
        Young artists in , mostly in urban areas, are working in multiple mediums to explore issues related to
        their childhood memories, complex social interactions besides racial, ethnic, and religious identities.
      </p>
    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(images/kenyan-history/joseph-murumbi-collection/20-murumbi-tn.jpg)">
    </div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">History</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu"> Art & History</h1>
      <p>The depth and wealth of art history is immense and unique. A significant collection of art is
        archived in public and private institutions.
        Sadly, the public does not get to access these collections and the stories that define their history;
        stories of how humans have used creative expression to inform their posterity.</p>
    </div>

  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(images/landing/souv.jpg)">
    </div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Souvenirs</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu"> Purchase souvenirs</h1>
      <p>
        Souvenir (from French, meaning "a remembrance or memory"), memento, keepsake, or token of remembrance[1] is
        an object a person acquires for the memories the owner associates with it. A souvenir can be any object that can
        be collected or purchased and transported home by the traveler as a memento of a visit. While there is no set
        minimum or maximum cost that one is required to adhere to when purchasing a souvenir, etiquette would suggest to
        keep it within a monetary amount that the receiver would not feel uncomfortable with when presented the
        souvenir. The object itself may have intrinsic value, or be a symbol of experience. Without the owner's input,
        the symbolic meaning is invisible and cannot be articulated.
      </p>
    </div>

  </div>
</section>
