<mat-nav-list >
  <div class="profile-card">
      <div class="header">
          <h2 id="user">Soufiane FADIL</h2>
          <h4 id="email">example@email.com</h4>
      </div>
      <img id="logo" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tabels</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="museumsad">Museums</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="sectionadd">Sections</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="galleryadd">Gallerys</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="exponatadd">Exponats</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="useradd">Users</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="turadd">Turs</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="purchaseadd">Purchases</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="paymentadd">Payments</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="turtypeadd">TurType</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="souvenirsadd">Souvenirs</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="souvenirsamountadd">Souvenirsamounts</a>





</mat-nav-list>
