.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

table {
  width: 100%;
}


h2 {
	font-family: "Poppins";
	font-size: 36px;

	margin-bottom: 15px;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	color: rgba(34, 34, 34, 0.5);

	margin-bottom: 25px;
	margin-top: 0px;
}

h4{
  font-size: 16px;
	font-weight: 500;
	color: rgba(34, 34, 34, 0.5);

	margin-bottom: 25px;
	margin-top: 0px;
}

h5{
  font-size: 16px;
	font-weight: 500;
	color: rgba(34, 34, 34, 0.5);

	margin-bottom: 25px;
	margin-top: 0px;
}
h6{
  font-size: 16px;
	font-weight: 500;
	color: rgba(34, 34, 34, 0.5);

	margin-bottom: 25px;
	margin-top: 0px;
}

h3,
span,
p {
	font-family: "Avenir";
}

.profile_container,
.info,
.back {
	margin: 60px 100px 0px;
	max-width: 1200px;
	display: flex;
	overflow-x: hidden;
}

.back {
	display: flex;
	align-items: center;
	color: rgba(34, 34, 34, 0.5);
}

.back i {
	margin-right: 15px;
}

.profile_img-LG {
	height: 400px;
	width: 300px;
	border-radius: 40px;

	object-fit: cover;
	object-position: 50% 50%;

	background-position: 40% 50%;
}

.flag_wrapper {
	width: 50px;
	height: 50px;
	background-color: #f2f2f2;
	border-radius: 100%;
	position: relative;
	top: -70px;
	left: 230px;
}

.flag {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
}

.description {
	margin-bottom: 30px;
	margin-top: 0px;
}

.profile_img_section {
	margin-right: 50px;
}

.profile_desc_section {
	display: flex;
	flex-direction: column;

	margin-left: 50px;
}

.interests_item {
	display: inline-block;
	padding: 5px 15px;
	margin-right: 7.5px;
	margin-bottom: 10px;
	line-height: 35px;
	background-color: #e6e6e6;
	border-radius: 5px;

	color: rgba(34, 34, 34, 0.5);
}

.info {
	margin-top: -20px;
	margin-left: 100px;
}

.link_img_wrapper {
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	border-radius: 10px;
	position: relative;
}

.link_img {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
}

ul {
	padding: 0px;
}

li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}

li p {
	margin-left: 30px;
	color: rgba(34, 34, 34, 0.5);
}

@media screen and (max-width: 1000px) {
	.profile_container,
	.info,
	.back {
		margin: 60px 33px 0px;
	}

	.profile_container {
		flex-direction: column;
	}

	.profile_img_section {
		margin: 0 auto;
	}

	.profile_img-LG {
		width: 300px;
		height: 300px;
		border-radius: 100%;
	}

	.flag_wrapper {
	}

	.profile_desc_section {
		margin-left: 0px;
		margin-bottom: 10px;
		margin-top: -40px;
	}

	.info {
		margin-top: 10px;
		margin-left: 33px;
	}
}



h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.price {
  margin-bottom: 10px;
}

.wrapper {
  margin: 0 auto;
  width: 860px;
}

.columns {
  margin: 0 auto;
  max-width: 900px;
}

.details {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}

.thumbnail-container {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}

.price {
  font-size: 20px;
  color: #777474;
}

.wishlist-container {
  padding-left: 0;
}

#header {
  width: 100%;
  text-align: center;
  background: white;
  padding: 5px;
  /*box-shadow: 0 10px 17px 0px #c0c0c0;*/
  box-shadow: 0 5px 10px 0px #dbd7d7;
}
#header img {
  max-width: 30px;
}

.columns {
  margin-top: 30px;
}

.button {
  width: 100%;
  border-radius: 0;
}

.select, select {
  width: 100%;
  border-radius: 0 !important;
}

#wishlist-container {
  padding-left: 0;
}

#buy-container {
  padding-right: 0;
}

.small-text {
  font-size: 14px;
}

.small-text span {
  font-weight: bold;
}

.buy-button {
  background: #ff6900;
  color: white;
  border: none;
}

.buy-button:hover, .buy-button:active, .buy-button:focus {
  color: white;
  opacity: 0.9;
}

a {
  color: #ff6900;
}
a:hover {
  color: #ff6900;
  opacity: 0.8;
}

@media only screen and (max-width: 769px) {

  #wishlist-container, #buy-container {
    padding: 0 0 15px 0;
  }
}


$bgb: #349a98;
$bgt: #42c8cb;

 #details{
  display: flex;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, $bgt 0%, $bgb 100%);
  box-shadow: 0 10px 30px 0 rgba($bgt, 0.7);
  transition: 200ms;
  &:hover{
    background: linear-gradient(to bottom, $bgb 0%, $bgt 100%);
  }
  >img{
    width: 31px;
  }
  >span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 10px;
    color: white;
  }
}
.modal-backdrop
{
  display: none;
}
