<div class="container">
  <div class="border">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-user"></i>New exe
    </button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>

        <th>Name</th>
        <th>Image</th>

        <th>Password</th>
        <th>Email</th>
        <th>Role</th>


        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exe of exes">
        <td><span>{{exe.id}}</span></td>
        <td><span>{{exe.username}}</span></td>
        <td><span>{{exe.name}}</span></td>



        <td><span><img src="{{exe.image}}" alt=""></span></td>
        <td><span>{{exe.password}}</span></td>
        <td><span>{{exe.email}}</span></td>

        <td><span>{{exe.role}}</span></td>
        <td>
          <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, exe)">
            <i class="fa fa-search"></i>Details</button>
          <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, exe)">
            <i class="fa fa-edit"></i>Edit</button>
          <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, exe)">
            <i class="fa fa-remove"></i>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New exe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit() && f.form.valid" name="form" enctype="multipart/form-data" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group">
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
            maxlength="20" #username="ngModel" />
        </div>
      </div>

      <div class="form-group">
        <label for="lat">Name</label>
        <div class="input-group">
          <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required
            #email="ngModel" />
        </div>
      </div>

      <div class="form-group">
        <label for="lat">Image</label>
        <div class="input-group">
          <input type="file" class="form-control" name="image" [(ngModel)]="form.image"
            #email="ngModel"   (change)="onFileSelected($event)" />
        </div>
      </div>



      <div class="form-group">
        <label for="lat">Email</label>
        <div class="input-group">
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
            #email="ngModel" />
        </div>
      </div>

      <div class="form-group">
        <label for="lon">Password</label>
        <div class="input-group">
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
            #password="ngModel" />
        </div>
        </div>
        <div class="form-group">
          <label for="type">Role</label>
          <div class="input-group">

            <select [(ngModel)]="form.role" name="role" placeholder="select" >
              <option  value="admin">Admin</option>
              <option  value="user">User</option>

          </select>
          </div>
        </div>


        <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #contentDetails let-modal>
  <div class="modal-body">
    <form #f="ngForm"  name="form" enctype="multipart/form-data" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group">
          <input type="text" id="username" class="form-control" name="username"  required minlength="3"
            maxlength="20"  readonly />
        </div>
      </div>

      <div class="form-group">
        <label for="lat">Name</label>
        <div class="input-group">
          <input type="text" id="name" class="form-control" name="name"required
           readonly />
        </div>
      </div>

      <div class="form-group">
        <label for="lat">Image</label>
        <div class="input-group">
          <input type="text" id="image" class="form-control" name="image"
             (change)="onFileSelected($event)" readonly />
        </div>
      </div>



      <div class="form-group">
        <label for="lat">Email</label>
        <div class="input-group">
          <input type="email" id="email" class="form-control" name="email"  required email
            readonly/>
        </div>
      </div>

      <div class="form-group">
        <label for="lon">Password</label>
        <div class="input-group">
          <input type="password" id="password" class="form-control" name="password" required minlength="6"
            readonly/>
        </div>
        </div>
        <div class="form-group">
          <label for="type">Role</label>
          <div class="input-group">

            <select name="role" id="role" placeholder="select" readonly >
              <option  value="admin">Admin</option>
              <option  value="user">User</option>

          </select>
          </div>
        </div>



    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">exe Edit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onEdit(f)" name="form" enctype="multipart/form-data" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group">
          <input type="text" class="form-control" name="username" required minlength="3"
            maxlength="20" id="username1" ngModel />
        </div>
      </div>

      <div class="form-group">
        <label for="lat">Name</label>
        <div class="input-group">
          <input type="text" class="form-control" name="name" required
           ngModel id="name1"/>
        </div>
      </div>

      <div class="form-group">
        <label for="lat">Image</label>
        <div class="input-group">
          <input type="file" class="form-control" name="image"
          accept="image/*"
          (change)="onFileSelected($event)" ngModel> />
        </div>
      </div>



      <div class="form-group">
        <label for="lat">Email</label>
        <div class="input-group">
          <input type="email" class="form-control" name="email" required email
           ngModel id="email1" />
        </div>
      </div>


        <div class="form-group">
          <label for="type">Role</label>
          <div class="input-group">

            <select ngModel id="role1" name="role" placeholder="select" >
              <option  value="ROLE_ADMIN">Admin</option>
              <option  value="ROLE_USER">User</option>

          </select>
          </div>
        </div>


        <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #contentDelete let-modal>
  <div class="modal-header">


    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>

</ng-template>
