<div class="container">
  <div class="border">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-user"></i>New exe
    </button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Iduser</th>



        <th> Date</th>
        <th>Idturtype</th>
        <th>QTY</th>
        <th>Cost</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exe of exes">
        <td><span>{{exe.idtur}}</span></td>
        <td><span>{{exe.id}}</span></td>


        <td><span>{{exe.date}}</span></td>
        <td><span>{{exe.idturtype}}</span></td>
        <td><span>{{exe.qty}}</span></td>
        <td><span>{{exe.cost}}</span></td>
        <td>
          <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, exe)">
            <i class="fa fa-search"></i>Details</button>
          <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, exe)">
            <i class="fa fa-edit"></i>Edit</button>
          <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, exe)">
            <i class="fa fa-remove"></i>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New exe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" enctype="multipart/form-data" novalidate>




      <div class="form-group">
        <label for="idmus">Idturtype</label>
        <div class="input-group">
          <select [(ngModel)]="selected2" name="idturtype" placeholder="select">
            <option *ngFor="let statype of exeSeltype" [ngValue]="statype.idturtype">{{statype.idturtype}}
              {{statype.nametur}}</option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label for="idmus">IdUser</label>
        <div class="input-group">
          <select [(ngModel)]="selected3" name="id" placeholder="select">
            <option *ngFor="let stauser of exeSeluser" [ngValue]="stauser.id">{{stauser.id}} {{stauser.username}}
            </option>
          </select>
        </div>
      </div>





      <div class="form-group">
        <label for="idmus">Date</label>
        <div class="input-group">
          <input id="date" name="date" type="date" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="idmus">QTY</label>
        <div class="input-group">
          <input id="qty" name="qty" type="number" [range]="[1, 50]" class="form-control" ngModel>
        </div>
      </div>



      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">exe Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>



      <div class="form-group">
        <label for="idmus">Idturtype</label>
        <div class="input-group">
          <input id="idturtype" name="date" type="text" class="form-control" disabled>
        </div>
      </div>


      <div class="form-group">
        <label for="idmus">IdUser</label>
        <div class="input-group">
          <input id="id" name="date" type="text" class="form-control" disabled>
        </div>
      </div>





      <div class="form-group">
        <label for="idmus">Date</label>
        <div class="input-group">
          <input id="date" name="date" type="text" class="form-control" disabled>
        </div>
      </div>

      <div class="form-group">
        <label for="idmus">QTY</label>
        <div class="input-group">
          <input id="qty" name="qty" type="text" class="form-control" disabled>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">exe Edit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onEdit(f)" enctype="multipart/form-data" novalidate>



      <div class="form-group">
        <label for="idmus">Idturtype</label>
        <div class="input-group">
          <select [(ngModel)]="selected2" name="idturtype" placeholder="select">
            <option *ngFor="let statype of exeSeltype" [ngValue]="statype.idturtype">{{statype.idturtype}}
              {{statype.nametur}}</option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label for="idmus">IdUser</label>
        <div class="input-group">
          <select [(ngModel)]="selected3" name="id" placeholder="select">
            <option *ngFor="let stauser of exeSeluser" [ngValue]="stauser.id">{{stauser.id}} {{stauser.username}}
            </option>
          </select>
        </div>
      </div>




      <div class="form-group">
        <label for="idmus">Date</label>
        <div class="input-group">
          <input id="date" name="date" type="date" class="form-control" ngModel>
        </div>
      </div>

      <div class="form-group">
        <label for="idmus">QTY</label>
        <div class="input-group">
          <input id="qty" name="qty" type="number" max="100" class="form-control" ngModel>
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #contentDelete let-modal>
  <div class="modal-header">


    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>

</ng-template>
