<div class="container">
  <div class="border">
    <button class="btn btn-md btn-outline-primary">
      <i class="fa fa-user"></i>New Museum</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Address</th>
        <th>Description</th>
        <th>Coordinates</th>
        <th>Image</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let museum of museums">
        <td><span>{{museum.id}}</span></td>
        <td><span>{{museum.title}}</span></td>
        <td><span>{{museum.address}}</span></td>
        <td style="width: 200px;"><span>{{museum.description}}</span></td>

        <td><span><img src="{{museum.image}}" alt=""></span></td>
<td>
  <span>
    <agm-map [latitude]="lat" [longitude]="lng" >
      <agm-marker
        [latitude]="lat"
        [longitude]="lng"
        ></agm-marker>
    </agm-map>
  </span>
</td>
        <td>
          <button class="btn btn-sm btn-info">
            <i class="fa fa-search"></i>Details</button>
          <button class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i>Edit</button>
          <button class="btn btn-sm btn-danger">
            <i class="fa fa-remove"></i>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
