<div class="container">
  <div id="registerModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="mx-auto font-weight-bold">Subscribe to news</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="card row">
            <div class="card-body px-lg-5 pt-0 col-md-10 mx-auto">
              <form class="text-center" id="myForm">
                <div class="form-row">
                  <div class="col">
                    <div class="md-form">
                      <input type="text" id="name" class="form-control" required>
                      <label for="">Name</label>
                    </div>
                  </div>
                </div>
                <div class="md-form mt-0">
                  <input type="email" id="email" class="form-control" required>
                  <label for="">E-mail</label>
                </div>
                <button class="btn btn-rounded btn-block waves-effect z-depth-0 col-md-3" type="submit" id="regButton">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
