<mat-toolbar color='warn'>
  <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideBar()" >
          <mat-icon>menu</mat-icon>
      </button>

      <span> <img _ngcontent-eky-c17="" src="images/logo/logo1.png" alt="an image of logo" width="60%"  style="visibility: visible;  margin: 20px;"> </span>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
              <li>

                <button mat-button [matMenuTriggerFor]="menu">
                  <mat-icon>person_outline</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                      <mat-icon >exit_to_app</mat-icon>
                     <button (click)="logout()">  Sign out</button>
                  </button>
              </mat-menu>

              </li>
          </ul>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
